<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link href="{{ url_for('static', filename='icons/MH_Logo1.ico') }}" rel="cloud icon">
    {% block header %}{% endblock %}
</head>
<body class="bg-dark text-white">

<script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
<div class="header">
    <nav class="navbar navbar-expand-sm navbar-dark fixed-top" role="navigation"
         style="background-color: rgba(47,47,47,0.87);">
        <a class="navbar-brand" href="{{ url_for('site.home') }}">Homepage</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('site.about') }}">About Me</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('site.portfolio') }}">Portfolio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('blog.blog') }}">Blog</a>
                </li>
            </ul>
        </div>
    </nav>
</div>
<br/><br/><br/>
{% block content %}{% endblock %}
{% block scripts %}{% endblock %}
</body>
</html>
