<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>My Projects</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/modal.css') }}">
    <link href="{{ url_for('static', filename='icons/Cloud-icon.ico') }}" rel="cloud icon">
    <script src="static/js/bootstrap.min.js"></script>
    <script src="static/js/jquery.min.js"></script>

</head>

<body class="bg-dark text-white">
<!--Header-->
<div class="header">
    <nav class="navbar navbar-expand-sm navbar-dark fixed-top">
        <a class="navbar-brand" href="{{ url_for('home') }}">My Blog</a>
        <div class="collapse navbar-collapse navbar-fixed-top" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('about') }}" tabindex="1" aria-disabled="false">About Me</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#" tabindex="0">Portfolio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#" tabindex="2" aria-disabled="false">Blog</a>
                </li>
            </ul>
        </div>
    </nav>
</div>
<br/><br/><br/>
<!--Cards-->
<div class="card-deck bg-secondary">
    <!--Row1-->
    <div class="row mx-auto" style="margin-top:5px;margin-bottom: 5px;">
        <!--MySite-->
        <div class="card align-items-center bg-dark" style="width: 50rem">
            <img class="card-img-top" src="static/images/cloud.png" alt="Sample" style="width:7rem;height:5rem;">
            <div class="card-body col text-center">
                <h5 class="card-title">This Website</h5>
                <p class="card-text text-center">A personal project to hold my portfolio</p>
                <button id="btn_1" class="btn btn-info btn-primary"
                        onclick="getElementById('modal_1').style.display = 'block';">Details
                </button>
            </div>
        </div>
        <!--WEMU-->
        <div class="card align-items-center bg-dark" style="width: 50rem">
            <img class="card-img-top" src="static/images/WEMU-Logo.png" alt="Sample" style="width:5rem;height:5rem;">
            <div class="card-body col text-center">
                <h5 class="card-title">WEMU Music Catalog</h5>
                <p class="card-text text-center">Django CRUD web app with MySQL</p>
                <button id="btn_2" class="btn btn-info btn-primary"
                        onclick="getElementById('modal_2').style.display = 'block';">Details
                </button>
            </div>
        </div>
    </div>
    <!--Row2-->
    <div class="row mx-auto" style="margin-top:5px;margin-bottom: 5px;">
        <!--Client Server-->
        <div class="card align-items-center bg-dark" style="width: 50rem">
            <img class="card-img-top" src="static/images/network.png" alt="Sample" style="width:7rem;height:5rem;">
            <div class="card-body col text-center">
                <h5 class="card-title">Stock Trading Client-Server Program</h5>
                <p class="card-text text-center">Socket programming in C</p>
                <button id="btn_3" class="btn btn-info btn-primary"
                        onclick="getElementById('modal_3').style.display = 'block';">Details
                </button>
            </div>
        </div>
        <!--Project3-->
        <div class="card align-items-center bg-dark" style="width: 50rem">
            <img class="card-img-top " src="static/images/dos.png " alt="Sample" style="width:5rem;height:5rem;">
            <div class="card-body col text-center">
                <h5 class="card-title">DOS-Like Operating System</h5>
                <p class="card-text text-center">A basic OS build with Assembly</p>
                <button id="btn_4" class="btn btn-info btn-primary"
                        onclick="getElementById('modal_4').style.display = 'block';">Details
                </button>
            </div>
        </div>
    </div>
</div>
<!-- Modal 1 -->
<div id="modal_1" class="modal">
    <!-- Modal content -->
    <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title">This Site!</h4>
            <span class="close" onclick="getElementById('modal_1').style.display='none';">&times;</span>
        </div>
        <div class="modal-body">
            <p>Languages: Python Flask, HTML, CSS, Javascript</p>
            <p>Description: A side project to use as my personal portfolio! It took a few weekends to build, and
                is hosted in Amazon AWS. <br />In the works: A blog page that will use MongoDB to hold posts. <br />Disclaimer:
                I am not a front end developer.</p>
            <p align="center"><a href="https://github.com/Elkip/mySite">View Repository</a></p>
        </div>
    </div>
</div>
<!-- Modal 2 -->
<div id="modal_2" class="modal">
    <!-- Modal content -->
    <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title">WEMU Music Catalog</h4>
            <span class="close" onclick="getElementById('modal_2').style.display='none';">&times;</span>
        </div>
        <div class="modal-body">
            <p>Languages: Python Django, HTML, CSS, JavaScript, SQL, Bash</p>
            <p>Description: My Undergraduate project I worked on for 2 semesters. Contained in an Amazon EC2
                instance, it has a django app connected to a MySQL database. Allows for search, input and deletion
                of music in the catalog. The first half of the project I exported the data from MS Access and
                designed the realtional database. In the second half of the project, I led a team of 4 students in
                building the web application.</p>
            <p align="center"><a href="https://github.com/Elkip/WEMU_App">View Repository</a></p>
        </div>
    </div>
</div>
<!-- Modal 3 -->
<div id="modal_3" class="modal">
    <!-- Modal content -->
    <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title">Client-Server Stock Trading Program</h4>
            <span class="close" onclick="getElementById('modal_3').style.display='none';">&times;</span>
        </div>
        <div class="modal-body">
            <p>Languages: C, Makefile</p>
            <p>Description: A project I created for a Networking class I took. Select a stock and quantity and send the
            order through RSA encrypted UDP and TCP connections. See the readme on how to start the server and key manager.</p>
            <p align="center"><a href="https://github.com/Elkip/Networking_Prinipals">View Repository</a></p>
        </div>
    </div>
</div>
<!-- Modal 3 -->
<div id="modal_4" class="modal">
    <!-- Modal content -->
    <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title">DOS-Like Operating System</h4>
            <span class="close" onclick="getElementById('modal_4').style.display='none';">&times;</span>
        </div>
        <div class="modal-body">
            <p>Languages: NASM Assembly</p>
            <p>Description: Created for a class on the conceptual workings of operating systems. Tells time, takes input,
            and runs a virus to make the graphics glitch out upon entering a specific key pattern.</p>
            <p align="center"><a href="https://github.com/Elkip/OS_assembly">View Repository</a></p>
        </div>
    </div>
</div>
<script>
    // Get the modal
    var modal1 = document.getElementById("modal_1");
    var modal2 = document.getElementById("modal_2");
    var modal3 = document.getElementById("modal_3");
    var modal4 = document.getElementById("modal_4");
    // When the user clicks anywhere outside of the modal, close it
    window.onclick = function (event) {
        if (event.target == modal1 || event.target == modal2 || event.target == modal3 || event.target == modal4) {
            (event.target).style.display = "none";
        }
    }
</script>

</body>

</html>