<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>My Projects</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
        <link href="{{ url_for('static', filename='icons/Cloud-icon.ico') }}" rel="cloud icon">
    </head>
    <body class="bg-dark text-white">
        <div class="header">
            <nav class="navbar navbar-expand-sm navbar-dark fixed-top">
              <a class="navbar-brand" href="{{ url_for('home') }}">My Blog</a>
              <div class="collapse navbar-collapse navbar-fixed-top" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">
                  <li class="nav-item">
                    <a class="nav-link" href="#" tabindex="0">Portfolio</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('about') }}" tabindex="1" aria-disabled="false">About Me</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#" tabindex="2" aria-disabled="false">Blog</a>
                  </li>
                </ul>
              </div>
            </nav>
        </div>
        <br /><br /><br />
        <main role="main">
            <div class="card-deck bg-primary">
                <div class="row mx-auto" style="margin-top:5px;">
                    <div class="card align-items-center bg-secondary" style="width: 50rem">
                            <img class="card-img-top" src="static/images/LI-In-Bug.png" alt="Sample" style="width:5rem;height:5rem;">
                            <div class="card-body col text-center">
                                <h5 class="card-title">WEMU Music Catalog</h5>
                                <p class="card-text text-center">Jazz, News & NPR</p>
                                <a href="#" class="btn btn-primary" >This would be a link</a>
                            </div>
                    </div>
                    <div class="card align-items-center bg-secondary" style="width: 50rem">
                            <img class="card-img-top" src="static/images/WEMU-Logo.png" alt="Sample" style="width:5rem;height:5rem;">
                            <div class="card-body col text-center">
                                <h5 class="card-title">WEMU Music Catalog</h5>
                                <p class="card-text text-center">Dajngo & MySQL</p>
                                <a href="#" class="btn btn-primary">Project Details</a>
                            </div>
                    </div>
                </div>
                <div class="row mx-auto" style="margin-top:5px;">
                    <div class="card align-items-center bg-secondary" style="width: 50rem">
                            <img class="card-img-top" src="static/images/LI-In-Bug.png" alt="Sample" style="width:5rem;height:5rem;">
                            <div class="card-body col text-center">
                                <h5 class="card-title">WEMU Music Catalog</h5>
                                <p class="card-text text-center">Jazz, News & NPR</p>
                                <a href="#" class="btn btn-primary align-content-center" >This would be a link</a>
                            </div>
                    </div>
                    <div class="card align-items-center bg-secondary" style="width: 50rem">
                            <img class="card-img-top " src="static/images/WEMU-Logo.png" alt="Sample" style="width:5rem;height:5rem;">
                            <div class="card-body col text-center">
                                <h5 class="card-title">WEMU Music Catalog</h5>
                                <p class="card-text text-center">Dajngo & MySQL</p>
                                <a href="#" class="btn btn-primary">Project Details</a>
                            </div>
                    </div>
                </div>
            </div>
        </main>
        <script src="static/js/bootstrap.min.js"></script>
    </body>
</html>