{% extends 'base.html' %}
{% block title %} Blog {% endblock %}
{% block content %}
    <h2 align="center">This Blog is a Work in Progress</h2>

    <div id="albumRecommendations" class="tabcontent text-center">
        <h3>For now here are some of my favorite songs:</h3>
        <ul>
            <li>Post Animal: Special Moment (2018)</li>
            <br/>
            <iframe src="https://open.spotify.com/embed/track/3Z8804glpo31YP2aPn7w28" width="300" height="380"
                    frameborder="0"
                    allowtransparency="true" allow="encrypted-media"></iframe>
        </ul>
        <ul>
            <li> Tame Impala: Feels Like We Only Go Backwards (2012)</li>
            <br/>
            <iframe src="https://open.spotify.com/embed/track/0LtOwyZoSNZKJWHqjzADpW" width="300" height="380"
                    frameborder="0"
                    allowtransparency="true" allow="encrypted-media"></iframe>
        </ul>
        <ul>
            <li>King Gizzard and the Lizard Wizard: I'm in Your Mind (2014)</li>
            <br/>
            <iframe src="https://open.spotify.com/embed/track/7Jt8XwrIn68jXTwX22VDvX" width="300" height="380"
                    frameborder="0"
                    allowtransparency="true" allow="encrypted-media"></iframe>
        </ul>
    </div>
{% endblock %}